<footer class="footer-container">
  <div class="container">
    <div class="footer-left-part-tab">
      <div class="footer-left-part-desktop">
        <picture
          ><source
            srcset="
              ./img/footer/broccoli-footer.png    1x,
              ./img/footer/broccoli-footer-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/footer/mob-broccoli-footer.png    1x,
              ./img/footer/mob-broccoli-footer-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/footer/mob-broccoli-footer.png" alt="broccoli" />
        </picture>
        <div class="logo-footer">
          <a
            href="https://dyatskovskiy.github.io/project-teamwork/"
            class="logo flex"
          >
            <span class="icon-logo">
              <svg class="logo-icon-footer" width="16" height="16">
                <use href="./img/icons.svg#icon-logo"></use>
              </svg> </span
            >veggieboost</a
          >
        </div>
      </div>
      <ul class="footer-list footer-text flex list">
        <li>
          <a href="#how-it-works" class="footer-link link">How It Works</a>
        </li>
        <li><a href="#vegetables" class="footer-link link">Vegetables</a></li>
        <li><a href="#contacts" class="footer-link link">Contacts</a></li>
      </ul>
    </div>
    <div class="footer-soc-address">
      <ul class="footer-soc-list flex list">
        <li class="footer-soc-item">
          <a
            href="https://www.facebook.com/"
            class="footer-soc-link link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="soc-icon">
              <use href="./img/icons.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a
            href="https://www.instagram.com/"
            class="footer-soc-link link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="soc-icon">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a
            href="https://www.youtube.com/"
            class="footer-soc-link link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="soc-icon">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="footer-text footer-address-text flex" id="contacts">
        <ul class="list">
          <li class="footer-tel">
            <a class="footer-link footer-tel-link link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-address-item">
            <a
              class="footer-link link"
              href="https://goo.gl/maps/et3LtYrDBMfKbqgS9"
              >1678 S. Pioneer Road Salt Lake City<br />
              UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
