<!-- Mobile menu in svg -->
<header class="header container">
  <nav class="nav flex ">
    <div class="logo-box">
      <a href="../index.html" class="logo flex">
        <span class="icon-logo">
          <svg class="logo-svg" width="16" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </span>veggieboost</a>
    </div>
    <div class="burger-box">
      <button type="submit" class="borger-btn flex js-open-menu js-hide-on ">
        <svg class="burger-svg" width="24" height="24">
          <use class=" js-btn-hide" href="./img/icons.svg#icon-gg_menu-left"></use>
          <use class="js-close-menu js-hide-off js-btn-hide" href="./img/icons.svg#icon-x"></use>
        </svg>
      </button>
      <!-- MOBILE MENU -->
      <div class="mob-menu flex container js-menu-container">
        <ul class="header-menu flex">
          <li class="hed-menu-item">How It Works</li>
          <li class="hed-menu-item">Vegetables</li>
          <li class="hed-menu-item">Contacts</li>
        </ul>
        <button class="btn-cart" type="button">
          <svg class="cart">
            <use class="size-cart" href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
      </div>
    </div>
  </nav>

</header>