<section class="hero">
  <div class="container">
    <div class="hero-thumb">
      <ul class="list review-list flex">
        <li class="review-item">
          <picture>
            <source
              srcset="
                ./img/hero/desktop-1review.jpg    1x,
                ./img/hero/desktop-1review-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/hero/tablet-1review.jpg    1x,
                ./img/hero/tablet-1review-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero/mobile-1review.jpg    1x,
                ./img/hero/mobile-1review-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/hero/desktop-1review.jpg" alt="woman" />
          </picture>
        </li>
        <li class="review-item">
          <picture>
            <source
              srcset="
                ./img/hero/desktop-2review.jpg    1x,
                ./img/hero/desktop-2review-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/hero/tablet-2review.jpg    1x,
                ./img/hero/tablet-2review-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero/mobile-2review.jpg    1x,
                ./img/hero/mobile-2review-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/hero/desktop-2review.jpg" alt="man" />
          </picture>
        </li>
        <li class="review-item">
          <picture>
            <source
              srcset="
                ./img/hero/desktop-3review.jpg    1x,
                ./img/hero/desktop-3review-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/hero/tablet-3review.jpg    1x,
                ./img/hero/tablet-3review-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero/mobile-3review.jpg    1x,
                ./img/hero/mobile-3review-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/hero/desktop-3review.jpg" alt="woman" />
          </picture>
        </li>
        <li class="review-item review-text-item flex">
          <p class="review-item-toptext">2k</p>
          <p class="review-item-bottomtext">reviews</p>
        </li>
      </ul>
      <h1 class="hero-headline">
        organic <span class="hero-vegetables">vegetables</span> to your diet
        today!
      </h1>
      <p class="hero-text">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
      <button class="shop-now-btn" type="button">shop now</button>
    </div>
    <div class="hero-thumb">
      <picture>
        <source
          srcset="
            ./img/hero/desktop-hero-img.png    1x,
            ./img/hero/desktop-hero-img-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero/tablet-hero-img.png    1x,
            ./img/hero/tablet-hero-img-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hero/mobile-hero-img.png    1x,
            ./img/hero/mobile-hero-img-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="hero-img"
          src="./img/hero/desktop-hero-img.png"
          alt="girl with green leaves"
        />
      </picture>
      <ul class="hashtag-btn-list lits flex">
        <li>
          <button class="hashtag-btn" type="button">#organic</button>
        </li>
        <li>
          <button class="hashtag-btn" type="button">#products</button>
        </li>
        <li><button class="hashtag-btn" type="button">#basket</button></li>
        <li>
          <button class="hashtag-btn" type="button">#vegetables</button>
        </li>
      </ul>
    </div>
  </div>
</section>
