<section class="section">
  <!-- Верхній блок  dyatskovskiy-->
  <div class="steps-desc-wrap container">
    <div class="top-wrap">
      <h2 class="steps-desc-title">
        To order your vegetable basket, simply follow these easy steps
      </h2>
      <picture>
        <source
          srcset="
            ./img/how-it-works/vegetables.png    1x,
            ./img/how-it-works/vegetables@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/how-it-works/tab-vegetables.png    1x,
            ./img/how-it-works/tab-vegetables@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/how-it-works/mob-vegetables.png    1x,
            ./img/how-it-works/mob-vegetables@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img src="../img/how-it-works/vegetables.png" alt="Green vegetables" />
      </picture>
    </div>

    <div class="bottom-wrap">
      <p class="steps-desc-text top-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>

      <p class="steps-desc-text bottom-text">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
  </div>
  <!-- 222222222222 -->
</section>
