<!-- top-->
<div class="top-modal"></div>
<!-- bottom -->
<div class="modal-bot container-modal">
  <form action="#" class="modal-form">
    <label for="name" class="modal-label">
      <input
        id="name"
        pattern="^[a-zA-Z\s]+$"
        name="name"
        placeholder="Enter full name..."
        type="text"
        class="modal-input"
      />
    </label>
    <label for="email" class="modal-label">
      <input
        pattern="[\x1F-\xBF]*"
        id="email"
        name="email"
        placeholder="Enter email..."
        type="email"
        class="modal-input"
      />
    </label>
    <label for="card" class="modal-label">
      <input
        id="card"
        pattern="^[a-zA-Z\s]+$"
        name="card"
        placeholder="Enter card.."
        type="text"
        class="modal-input"
      />
    </label>
    <label for="comment" class="modal-label">
      <textarea
        name="comment"
        id="comment"
        placeholder="Enter comments..."
        class="modal-textarea"
      ></textarea>
    </label>
  </form>
  <button class="modal-btn-submit">Submit</button>
</div>
