<section class="vegetables">
    <div class="container-veg container">
        <h3 class="veg-title">ORGANIC VEGETABLES</h3>
        <p class="veg-paragraf">Our organic vegetables are hand-picked from local farms and delivered straight to your
            doorstep, ensuring that you
            get the freshest and most nutritious produce possible. </p>






        <ul class="veg-list">
            <li class="veg-items">
                <a href="" class="link-veg">
                    <h3 class="name-veg">Carrot</h3>
                    <p class="spec-veg">Plant</p>
                    <picture class="img-veg">

                        <source srcset="
                    ./img/vegetables/tablet/carrot1x.png 1x,
                    ./img/vegetables/tablet/Carrot2x.png 2x
                    " media="(min-width: 768px)" />
                        <source srcset=" 
                    ./img/vegetables/mob/carrot1x.png 1x,
                    ./img/vegetables/mob/carrot2x.png 2x
                    " media="(max-width: 768px)" />


                        <img src="../img/vegetables/tablet/Carrot2x.png" alt="Carrot" width="299" height="249" />


                    </picture>
                    <p class="price-veg">100 UAH / kg</p>
                </a>
            </li>

            <li class="veg-items">
                <a href="" class="link-veg">
                    <h3 class="name-veg">Brussel sprouts</h3>
                    <p class="spec-veg">Plant</p>
                    <picture class="img-veg">

                        <source srcset="
                    ./img/vegetables/tablet/brussel1x.png 1x,
                    ./img/vegetables/tablet/brussel2x.png 2x
                    " media="(min-width: 768px)" />
                        <source srcset="
                    ./img/vegetables/mob/brussel1х.png 1x,
                    ./img/vegetables/mob/brussel2x.png 2x
                    " media="(max-width: 768px)" />


                        <img src="../img/vegetables/tablet/brussel2x.png" alt="Brussel sprouts" width="299"
                            height="249" />


                    </picture>
                    <p class="price-veg">80 UAH / kg</p>
                </a>
            </li>

            <li class="veg-items">
                <a href="" class="link-veg">
                    <h3 class="name-veg">Tomato</h3>
                    <p class="spec-veg">Plant</p>
                    <picture class="img-veg">

                        <source srcset="
                        ./img/vegetables/tablet/Tomato1x.png 1x,
                        ./img/vegetables/tablet/tomato2x.png 2x
                    " media="(min-width: 768px)" />
                        <source srcset="
                    ./img/vegetables/mob/tomato1x.png 1x,
                    ./img/vegetables/mob/tomato2x.png 2x
                    " media="(max-width: 768px)" />


                        <img src="../img/vegetables/tablet/tomato2x.png" alt="Tomato" width="299" height="249" />


                    </picture>
                    <p class="price-veg">40 UAH / kg</p>
                </a>
            </li>

            <li class="veg-items">
                <a href="" class="link-veg">
                    <h3 class="name-veg">Eggplant</h3>
                    <p class="spec-veg">Plant</p>
                    <picture class="img-veg">

                        <source srcset="
                    ./img/vegetables/tablet/Eggplant1x.png 1x,
                    ./img/vegetables/tablet/Eggplant2x.png 2x
                    " media="(min-width: 768px)" />
                        <source srcset="
                    ./img/vegetables/mob/eggplant1x.png 1x,
                    ./img/vegetables/mob/eggplant2x.png 2x
                    " media="(max-width: 768px)" />


                        <img src="../img/vegetables/tablet/Eggplant2x.png" alt="Eggplant" width="299" height="249" />


                    </picture>
                    <p class="price-veg">60 UAH / kg</p>
                </a>
            </li>

            <li class="veg-items">
                <a href="" class="link-veg">
                    <h3 class="name-veg">Sweet potatoes</h3>
                    <p class="spec-veg">Plant</p>
                    <picture class="img-veg">

                        <source srcset="
                    ./img/vegetables/tablet/potatoes1x.png 1x,
                    ./img/vegetables/tablet/potatoes2x.png 2x
                    " media="(min-width: 768px)" />
                        <source srcset="
                    ./img/vegetables/mob/potatoes1x.png 1x,
                    ./img/vegetables/mob/potatoes2x.png 2x
                    " media="(max-width: 768px)" />


                        <img src="../img/vegetables/tablet/potatoes2x.png" alt="Sweet potatoes" width="299"
                            height="249" />


                    </picture>
                    <p class="price-veg">80 UAH / kg</p>
                </a>
            </li>

            <li class="veg-items">
                <a href="" class="link-veg">
                    <h3 class="name-veg">Leek</h3>
                    <p class="spec-veg">Plant</p>
                    <picture class="img-veg">

                        <source srcset="
                    ./img/vegetables/tablet/Leek1x.png 1x,
                    ./img/vegetables/tablet/Leek2x.png 2x
                    " media="(min-width: 768px)" />
                        <source srcset="
                    ./img/vegetables/mob/leek1x.png 1x,
                    ./img/vegetables/mob/leek2x.png 2x
                    " media="(max-width: 768px)" />


                        <img src="../img/vegetables/tablet/Leek2x.png" alt="Leek" width="299" height="249" />


                    </picture>
                    <p class="price-veg">50 UAH / kg</p>
                </a>
            </li>


            <li class="veg-items">
                <a href="" class="link-veg">
                    <h3 class="name-veg">Mushrooms</h3>
                    <p class="spec-veg">Plant</p>
                    <picture class="img-veg">

                        <source srcset="
                    ./img/vegetables/tablet/mushrooms1x.png 1x,
                    ./img/vegetables/tablet/mushrooms2x.png 2x
                    " media="(min-width: 768px)" />
                        <source srcset="
                    ./img/vegetables/mob/mushrooms1x.png 1x,
                    ./img/vegetables/mob/mushrooms2x.png 2x
                    " media="(max-width: 768px)" />


                        <img src="../img/vegetables/tablet/mushrooms2x.png" alt="Mushrooms" width="299" height="249" />


                    </picture>
                    <p class="price-veg">40 UAH / kg</p>
                </a>
            </li>

            <li class="veg-items">
                <a href="" class="link-veg">
                    <h3 class="name-veg">Corn</h3>
                    <p class="spec-veg">Plant</p>
                    <picture class="img-veg">

                        <source srcset="
                    ./img/vegetables/tablet/Corn1x.png 1x,
                    ./img/vegetables/tablet/Corn2x.png 2x
                    " media="(min-width: 768px)" />
                        <source srcset="
                    ./img/vegetables/mob/corn1x.png 1x,
                    ./img/vegetables/mob/corn2x.png 2x
                    " media="(max-width: 768px)" />


                        <img src="../img/vegetables/tablet/Corn2x.png" alt="Carrot" width="299" height="249" />


                    </picture>
                    <p class="price-veg">60 UAH / kg</p>
                </a>
            </li>


            <li class="veg-items">
                <a href="" class="link-veg">
                    <h3 class="name-veg">Radish</h3>
                    <p class="spec-veg">Plant</p>
                    <picture class="img-veg">

                        <source srcset="
                    ./img/vegetables/tablet/Radish1x.png 1x,
                    ./img/vegetables/tablet/Radish2x.png 2x
                    " media="(min-width: 768px)" />
                        <!-- <source srcset="
                    ./img/vegetables/Radish.png 1x,
                    ./img/vegetables/Radish-2x.png 2x
                    " media="(max-width: 768px)" /> -->


                        <img src="../img/vegetables/tablet/Radish2x.png" alt="Radish" width="299" height="249" />


                    </picture>
                    <p class="price-veg">90 UAH / kg</p>
                </a>

            </li>
        </ul>







    </div>





    <div class="button-center-order">




        <button class="but-veg" type="button">

            <span class="but-text">

                <svg class="svg-but-veg" width="14" height="14">

                    <use href="../img/icons.svg#icon-Vector"></use>
                </svg> Order


            </span>


        </button>





    </div>


</section>