<section class="section-order">
    <div class="container">
      <h2 class="will-call">Fresh Harvest Box has got you covered</h2>
      <p class="text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <form class="form-send">
        <div class="form-controls">
          <input type="text" name="user-number" class="input-number" placeholder="+380 ()">
          <button class="button-send" type="button">Recall</button>
        </div>
      </form>
      
      <div class="container-img">
        <div class="img-bg">
          <picture>
            <source 
            srcset="./img/we-will-call/img-girl-desk.png 1x, ./img/we-will-call/img-girl-desk-2x.png 2x"
             media="(min-width: 1280px)"/>
  
             <source
             srcset="./img/we-will-call/img-girl-tab.png 1x, ./img/we-will-call/img-girl-tab-2x.png 2x"
             media="(min-width: 768px)"/>
  
             <source
             srcset="./img/we-will-call/img-girl.png 1x, ./img/we-will-call/img-girl-2x.png 2x"
             media="(max-width: 767px)"/>
             
             <img class="" src="../img/we-will-call-you/img-girl.png" alt="green-girl">
           </picture>
        </div>
    </div>
    </div>
  </section>
  