:root {
    --black: #141414;
    --green: #A1C487;
    --headerGreen: #77AC63;
    --opacityGreen: #EAF7E5;
    --orange: #FC8A11;
    --opacityOrange: #FAF3E7;
    --white: #F3F3F3;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
}


/* FONTS */
/* dm-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans-v13-latin-regular.woff2') format('woff2');
}

/* dm-sans-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/dm-sans-v13-latin-500.woff2') format('woff2');
}

/* dm-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dm-sans-v13-latin-700.woff2') format('woff2');
}