.nav {
  justify-content: space-between;
}

.icon-logo {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: var(--headerGreen);
}

.logo {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
}

.burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;

  fill: var(--headerGreen);
  stroke: var(--headerGreen);
}

.burger-box {
  width: 24px;
  height: 24px;
}

.header-menu {
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  padding-top: 124px;
  gap: 16px;
}

.js-close-menu {
  stroke: transparent;
}

.is-hide + .js-close-menu {
  stroke: var(--headerGreen);
}

.js-btn-hide.is-hide {
  display: none;
}

/* MOBILE MENU */
.mob-menu {
  position: fixed;
  z-index: 99;
  top: 50px;
  left: 0;
  overflow: hidden;
  flex-direction: column;
  justify-content: start;
  height: calc(100vh - 50px);
  background-color: var(--green);
  transform: translate(0, -120%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  transform: translate(0, 0);
}

.mob-menu.container {
  width: 100vw;
  max-width: unset;
  padding-left: 0;
  padding-right: 0;
}

.cart {
  stroke: #fff;
  fill: transparent;
  width: 20px;
  height: 20px;
}

.btn-cart {
  border: none;
  background-color: transparent;
  margin-top: 16px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .nav {
    position: relative;
  }
  .burger-box {
    width: auto;
    height: auto;
  }
  .header-menu {
    flex-direction: row;
    color: var(--black);
    padding-top: 0;
    gap: 14px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .header-menu-item {
    padding: 16px 0;
  }
  .logo-box {
    margin: 0 auto;
  }
  .mob-menu {
    position: static;
    background-color: transparent;
    transform: none;
    height: auto;
  }
  .mob-menu.container {
    width: auto;
    min-width: auto;
  }
  .burger-btn {
    display: none;
  }
  .btn-cart {
    position: absolute;
    margin-top: 0;
    top: 16px;
    right: 0;
  }
  .cart {
    stroke: var(--black);
  }
  .size-cart {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .size-cart {
    width: 24px;
    height: 24px;
  }
}
