:root {
  --medium-white: #f9f7f4;
}

.hero {
  background-color: var(--green);
  padding-top: 48px;
  padding-bottom: 20px;
}

.review-list {
  justify-content: start;
  margin-bottom: 14px;
}

.review-item {
  width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid white;
}

.review-item:nth-child(2) {
  transform: translateX(-16px);
}

.review-item:nth-child(3) {
  transform: translateX(-32px);
}

.review-item:nth-child(4) {
  transform: translateX(-48px);
}

.review-text-item {
  flex-direction: column;
  gap: 2px;
  background-color: white;
}

.review-item-toptext {
  color: var(--black);
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.review-item-bottomtext {
  color: var(--black);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: -0.32px;
}

.hero-headline {
  margin-bottom: 14px;
  color: white;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;
  text-transform: uppercase;
}

.hero-vegetables {
  font-style: italic;
  color: var(--white);
}

.hero-text {
  color: white;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}

.shop-now-btn {
  width: 68px;
  height: 68px;
  border: none;
  border-radius: 50%;
  background-color: var(--opacityOrange);
  transform: rotate(-14deg);
  color: #fc8a11;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.shop-now-btn:hover,
.shop-now-btn:focus {
  background-color: var(--opacityGreen);
  color: var(--green);
}

.hero-img {
  margin: 0 auto 16px;
}

.hashtag-btn-list {
  justify-content: end;
  max-width: 169px;
  flex-wrap: wrap;
  gap: 4px;
  margin-left: auto;
}

.hashtag-btn {
  padding: 7px 13px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 1000px;
  color: white;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

.hashtag-btn:hover,
.hashtag-btn:focus {
  color: var(--black);
  background-color: var(--medium-white);
  border-color: var(--medium-white);
}

@media screen and (max-width: 1279px) {
  .hero-thumb:first-child {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 66px;
    padding-bottom: 32px;
  }

  .review-list {
    margin-bottom: 16px;
  }

  .review-item {
    width: 54px;
    height: 54px;
  }

  .review-item-toptext {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }

  .review-item-bottomtext {
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }

  .review-item:nth-child(2) {
    transform: translateX(-18px);
  }

  .review-item:nth-child(3) {
    transform: translateX(-36px);
  }

  .review-item:nth-child(4) {
    transform: translateX(-54px);
  }

  .hero-headline {
    margin-bottom: 16px;
    font-size: 54px;
    line-height: 1.18;
    letter-spacing: -2.16px;
  }

  .hero-text {
    max-width: 490px;
    margin-bottom: 32px;
  }

  .shop-now-btn {
    width: 114px;
    height: 114px;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.96px;
  }

  .hashtag-btn-list {
    max-width: 214px;
    row-gap: 8px;
  }

  .hashtag-btn {
    padding: 9px 19px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.48px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 134px;
  }

  .hero > .container {
    display: flex;
  }

  .review-item {
    width: 70px;
    height: 70px;
  }

  .review-item-toptext {
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.96px;
  }

  .review-item-bottomtext {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.48px;
  }

  .review-item:nth-child(2) {
    transform: translateX(-26px);
  }

  .review-item:nth-child(3) {
    transform: translateX(-52px);
  }

  .review-item:nth-child(4) {
    transform: translateX(-78px);
  }

  .hero-headline {
    width: 672px;
    font-size: 64px;
    line-height: 1.17;
    letter-spacing: -2.56px;
  }

  .shop-now-btn {
    width: 132px;
    height: 132px;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -1.12px;
  }
  
  .hashtag-btn-list {
    max-width: 266px;
    gap: 8px;
  }

  .hashtag-btn {
    padding: 11px 31px;
  }
}
