.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Верхній блок dyatskovskiy */
.top-wrap {
  margin-bottom: 20px;
}

.steps-desc-wrap {
  margin-bottom: 80px;
}

.steps-desc-title {
  color: var(--black);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.steps-desc-text {
  color: var(--black);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.top-text {
  margin-bottom: 20px;
}

/* ============MEDIA============ */

/* < !-- Верхній блок dyatskovskiy--> */
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .steps-desc-wrap {
    margin-bottom: 100px;
  }

  .top-wrap {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
  }

  .bottom-wrap {
    display: flex;
  }

  .steps-desc-title {
    width: 386px;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }

  .steps-desc-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }

  .top-text {
    width: 317px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .bottom-text {
    width: 279px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 124px;
    padding-bottom: 124px;
  }

  .steps-desc-wrap {
    margin-bottom: 124px;
  }

  .top-wrap {
    justify-content: space-between;
  }

  .steps-desc-title {
    width: 614px;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -1.92px;
  }

  .top-text {
    width: 352px;
    margin-right: 40px;
  }

  .bottom-text {
    width: 294px;
  }
}

/* < !-- 222222222222 --> */

.work-bottom {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
  background-color: #faf3e7;
  background-image: url(./img/how-it-works/works-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .work-bottom {
    background-image: url(./img/how-it-works/works-bg-mob-2x.png);
  }
}

.work-text {
  margin-bottom: 20px;
}

.work-text-title {
  color: var(--black);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.work-specyfic-text {
  padding-left: 54px;
}

.work-text-item {
  margin-bottom: 20px;
  max-width: 176px;
}

.work-text-item:last-child {
  margin-bottom: 0;
}

.one::before {
  content: '1';
  position: absolute;
  height: 38px;
  width: 40px;
  top: 50%;
  transform: translateY(-50%);
  left: -54px;
  background-color: #a1c487;
  border-radius: 200px;
  color: #141414;
  font-size: 18px;
  font-family: DM Sans;
  line-height: 1;
  letter-spacing: -0.72px;
  padding: 10px 17px;
}

.two::before {
  content: '2';
  position: absolute;
  height: 38px;
  width: 40px;
  top: 50%;
  transform: translateY(-50%);
  left: -54px;
  background-color: #a1c487;
  border-radius: 200px;
  color: #141414;
  font-size: 18px;
  font-family: DM Sans;
  line-height: 1;
  letter-spacing: -0.72px;
  padding: 10px 14px;
}

.three::before {
  content: '3';
  position: absolute;
  height: 38px;
  width: 40px;
  top: 50%;
  transform: translateY(-50%);
  left: -54px;
  background-color: #a1c487;
  border-radius: 200px;
  color: #141414;
  font-size: 18px;
  font-family: DM Sans;
  line-height: 1;
  letter-spacing: -0.72px;
  padding: 10px 14px;
}

.work-text-about {
  position: relative;
  color: #141414;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.56px;
}

.girl-picture {
  max-width: 258px;
  max-height: 319px;
}

@media screen and (min-width: 768px) {
  .work-bottom {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 80px;
    background-color: #faf3e7;
    background-image: url(./img/how-it-works/works-bg-tab.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 40px 0 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .work-bottom {
      background-image: url(./img/how-it-works/works-bg-tab-2x.png);
    }
  }

  .work-text {
    margin: 0;
    padding: 0;
    padding-top: 40px;
  }

  .work-text-title {
    width: 274px;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
    margin-bottom: 40px;
  }

  .work-specyfic-text {
    padding-left: 0;
  }

  .work-text-item {
    max-width: 236px;
    margin-bottom: 24px;
    padding-left: 60px;
  }

  .one::before {
    height: 44px;
    width: 46px;
    line-height: 1.33;
    padding: 10px 20px;
    left: -60px;
  }

  .two::before {
    height: 44px;
    width: 46px;
    line-height: 1.33;
    padding: 10px 18px;
    left: -60px;
  }

  .three::before {
    height: 44px;
    width: 46px;
    line-height: 1.33;
    padding: 10px 18px;
    left: -60px;
  }

  .girl-picture {
    max-width: 350px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .work-bottom {
    justify-content: flex-end;
    padding: 40px 80px 0 80px;
    border-radius: 80px;
    background-color: #faf3e7;
    background-image: url(./img/how-it-works/works-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .work-bottom {
      background-image: url(./img/how-it-works/works-bg-2x.png);
    }
  }

  .work-text-title {
    width: 512px;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    letter-spacing: -1.6px;
    line-height: 1.1;
  }

  .work-text-item {
    max-width: 349px;
    width: 100%;
    margin-bottom: 20px;
  }

  .one::before {
    content: '1';
    height: 44px;
    width: 46px;
    left: -60px;
    line-height: 1.33;
    padding: 10px 20px;
  }

  .two::before {
    content: '2';
    left: -60px;
    line-height: 1.33;
    padding: 10px 18px;
  }

  .three::before {
    content: '3';
    left: -60px;
    line-height: 1.33;
    padding: 10px 17px;
  }

  .girl-picture {
    max-width: 434px;
    margin-right: 110px;
  }
}
