.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Верхній блок dyatskovskiy */
.top-wrap {
  margin-bottom: 20px;
}

.steps-desc-wrap {
  margin-bottom: 80px;
}
.steps-desc-title {
  color: var(--black);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.steps-desc-text {
  color: var(--black);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.top-text {
  margin-bottom: 20px;
}

/* < !-- 222222222222 --> */

/* ============MEDIA============ */

/* < !-- Верхній блок dyatskovskiy--> */
@media screen and (min-width: 768px) {
  .top-wrap {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
  }

  .bottom-wrap {
    display: flex;
  }

  .steps-desc-title {
    width: 386px;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }

  .steps-desc-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }

  .top-text {
    width: 317px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .bottom-text {
    width: 279px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .top-wrap {
    justify-content: space-between;
  }

  .steps-desc-title {
    width: 614px;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -1.92px;
  }

  .top-text {
    width: 352px;
    margin-right: 40px;
  }

  .bottom-text {
    width: 294px;
  }
}

/* < !-- 222222222222 --> */
.work-bottom {
  border-radius: 80px;
  background-color: #faf3e7;
  background-image: url(../img/how-it-works/works-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 375px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .work-bottom {
    background-image: url(../img/how-it-works/works-bg-mob-2x.png);
  }
}

.work-text-title {
  color: #141414;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  padding: 40px 20px;
}

.work-specyfic-text {
  max-width: 275px;
}

.work-text-item {
  display: flex;
  align-self: start;
  margin-bottom: 20px;
  max-width: 275px;
  width: 100%;
  padding-left: 10px;
  padding-right: 25px;
}

.work-number {
  position: relative;
  display: flex;
  margin-right: 28px;
  padding-left: 34px;
}

.one::before {
  content: '1';
  position: absolute;
  height: 38px;
  width: 40px;
  top: 10px;
  left: 10px;
  background-color: #a1c487;
  border-radius: 200px;
  display: flex;
  align-items: center;
  color: #141414;
  font-size: 18px;
  font-family: DM Sans;
  line-height: 1;
  letter-spacing: -0.72px;
  align-items: center;
  padding: 10px 17px;
}

.two::before {
  content: '2';
  position: absolute;
  height: 38px;
  width: 40px;
  left: 10px;
  top: 10px;
  background-color: #a1c487;
  border-radius: 200px;
  display: flex;
  color: #141414;
  font-size: 18px;
  font-family: DM Sans;
  line-height: 1;
  letter-spacing: -0.72px;
  align-items: center;
  padding: 10px 14px;
}

.three::before {
  content: '3';
  position: absolute;
  height: 38px;
  width: 40px;
  left: 10px;
  top: 10px;
  background-color: #a1c487;
  border-radius: 200px;
  display: flex;
  color: #141414;
  font-size: 18px;
  font-family: DM Sans;
  line-height: 1;
  letter-spacing: -0.72px;
  align-items: center;
  padding: 10px 14px;
}

.work-text-about {
  position: relative;
  color: #141414;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: DM Sans;
  line-height: 1.29;
  letter-spacing: -0.56px;
}

.girl-picture {
  max-width: 258px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 744px;
    width: 100%;
    min-height: 488px;
    height: 100%;
  }

  .work-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 40px;
    border-radius: 80px;
    background-color: #faf3e7;
    background-image: url(../img/how-it-works/works-bg-tab.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 744px;
    margin: 0 auto;
    padding-left: 0;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .work-bottom {
      background-image: url(../img/how-it-works/works-bg-tab-2x.png);
    }
  }

  .work-text {
    padding-right: 40px;
  }
  .work-text-title {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
    padding: 80px 0 40px 0;
  }

  .work-text-item {
    margin-bottom: 24px;
    padding-right: 30px;
  }

  .work-number {
    display: flex;
    margin-right: 30px;
  }

  .one::before {
    content: '1';
    height: 44px;
    width: 46px;
    left: 390px;
    top: 221px;
    line-height: 1.33;
    padding: 10px 20px;
  }

  .two::before {
    content: '2';
    height: 44px;
    width: 46px;
    left: 390px;
    top: 290px;
    line-height: 1.33;
    padding: 10px 18px;
  }

  .three::before {
    content: '3';
    height: 44px;
    width: 46px;
    left: 390px;
    top: 359px;
    line-height: 1.33;
    padding: 10px 17px;
  }

  .girl-picture {
    display: flex;
    /* flex-direction: column-reverse; */
    max-width: 350px;
    width: 100%;
    /* order: -1; */
    padding-top: 40px;
    padding-left: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1216px;
    width: 100%;
    min-height: 460px;
    height: 100%;
  }

  .work-bottom {
    gap: 110px;
    border-radius: 80px;
    justify-content: space-between;
    background-color: #faf3e7;
    background-image: url(../img/how-it-works/works-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1216px;
    margin: 0 auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .work-bottom {
      background-image: url(../img/how-it-works/works-bg-2x.png);
    }
  }
  .work-text {
    padding-left: 40px;
    padding-right: 40px;
  }
  .work-text-title {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
    padding: 80px 0 40px 0;
  }

  .work-text-item {
    max-width: 349px;
    width: 100%;
    margin-bottom: 24px;
  }

  .work-number {
    display: flex;
    margin-right: 34px;
  }

  .one::before {
    content: '1';
    height: 44px;
    width: 46px;
    left: 624px;
    top: 208px;
    line-height: 1.33;
    padding: 10px 20px;
  }

  .two::before {
    content: '2';
    left: 624px;
    top: 272px;
    line-height: 1.33;
    padding: 10px 18px;
  }

  .three::before {
    content: '3';
    left: 624px;
    top: 336px;
    line-height: 1.33;
    padding: 10px 17px;
  }

  .girl-picture {
    display: flex;
    max-width: 434px;
    width: 100%;
    padding-top: 38px;
    padding-left: 80px;
    padding-bottom: 2px;
    /* margin-right: 110px; */
  }

  .girl-img {
    max-width: unset;
  }
}
