.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Верхній блок dyatskovskiy */
.top-wrap {
  margin-bottom: 20px;
}

.steps-desc-title {
  color: var(--black);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.steps-desc-text {
  color: var(--black);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.top-text {
  margin-bottom: 20px;
}

/* < !-- 222222222222 --> */

/* ============MEDIA============ */

/* < !-- Верхній блок dyatskovskiy--> */
@media screen and (min-width: 768px) {
  .top-wrap {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
  }

  .bottom-wrap {
    display: flex;
  }

  .steps-desc-title {
    width: 386px;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }

  .steps-desc-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }

  .top-text {
    width: 317px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .bottom-text {
    width: 279px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .top-wrap {
    justify-content: space-between;
  }

  .steps-desc-title {
    width: 614px;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -1.92px;
  }

  .top-text {
    width: 352px;
    margin-right: 40px;
  }

  .bottom-text {
    width: 294px;
  }
}

/* < !-- 222222222222 --> */
