.will-call{
    color: #141414;
text-align: center;
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 14px;
font-family: DM Sans;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.56px;
}